.detail-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.detail-left {
  width: 100%;
}

.detail-left img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1em;
}

.detail-likes {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1em;
}

.detail-likes img {
  width: 24px;
  cursor: pointer;
  margin: 0;
}

.comment-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.comment-input {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  gap: 1em;
}

.comment-input input {
  width: 500px;
  height: 3em;

  padding: 0.5em;
  box-sizing: border-box;
}

.comment-input button {
  background-color: rgb(255, 217, 0);
  font-size: 12px;
  width: 80px;
  height: 3em;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  white-space: pre;
}

.detail-right ul {
  margin-top: 1em;
  padding-left: 1em;
}

.detail-right li {
  margin-bottom: 0.5em;
  word-break: break-word;
}
.black-navbar #mainNav {
  background-color: rgba(9, 8, 8, 0.963) !important;
}

.black-navbar #mainNav .nav-link,
.black-navbar #mainNav .navbar-brand span {
  color: rgb(255, 217, 0) !important;
}

.black-navbar #mainNav .nav-link:hover {
  color: rgb(255, 217, 0) !important;
}
.btn-wrapper {
  display: flex;
  gap: 1em;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

.author-container {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em;
}
.post-header {
  display: flex;
  justify-content: space-between;
}
.action-btn {
  white-space: pre;
  font-size: 10px;
}
