
.social-container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  overflow-y: visible; 
  justify-content: center;
  margin-top: 100px;
}
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 250px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.card {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: auto;
  z-index: 10;

  /* 중앙 정렬 삭제 → 구석으로 보이게 변경 */
  display: flex;
  justify-content: flex-end;  
  align-items: flex-end;      
  padding: 10px
}
.icon-box {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
}

.card:hover .card-overlay {
  opacity: 1;
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}
.card-title {/*사진 타이틀*/
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  z-index: 15;
  pointer-events: none;
}

.black-navbar #mainNav {
  background-color: rgba(9, 8, 8, 0.963) !important;
}

.black-navbar #mainNav .nav-link,
.black-navbar #mainNav .navbar-brand span {
  color: rgb(255, 217, 0) !important;
}

.black-navbar #mainNav .nav-link:hover {
  color: rgb(255, 217, 0) !important;
}

