.modal.fade.show{
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-dialog{
    max-width: 500px;
    width: 90%;
    margin: 50% 50% 50% 60%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.modal-backdrop.fade.show{
    z-index: 1040;
    display: block;
    opacity: 0.5;
}

