.card-social{
	border: none;
    box-shadow: none;
}

.card-post{
    width: 110px;
}

.fa-check{
	padding: 5px;
	border: 1px solid #C8C8C8;
	border-radius: 50%;
	font-size: 8px;
}

.img-container-social{
    position: relative
}

.btn-social{
    border: none #eee;
    height: 30px;
}

.btn-social:hover{
    background-color: rgb(225, 200, 5);
}

.img-container-social img{
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.wrapper-social{
    margin-top:50px;
    margin-bottom:50px;
}